@media only screen and (min-width: 600px) {
    .circleAni {
    width: 80vw;
    height: 80vw;
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-animation: circleAni 1.4s linear infinite;
            animation: circleAni 1.4s linear infinite;
    z-index: 1;
    left: 10vw;
    top: calc((100vh - 80vw)/2);
    border:  1px solid transparent;
    border-top: 4px solid rgba(102,156,188,0.8);
    margin: 0;
}

    @-webkit-keyframes circleAni {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }

    @keyframes circleAni {
        0% {
            -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
        }
    }
}

